body {
    background-color: rgb(34, 34, 34);
    font-family: sans-serif;
}

.eyes{
    display:flex;
    gap:10px;
    margin-top: 90px;
}
.eye {
    position: relative;
    width: 180px;
    height: 100px;
    border-radius: 100px;
    background-color: white;
    overflow:hidden
}
.cover1{
    position: absolute;
    width: 180px;
    height: 50px;
    background-color: darkred;
    z-index: 1;
}
.cover2{
    position: absolute;
    top: 50px;
    width: 180px;
    height: 50px;
    background-color: cyan;
    z-index: 1;
}
.pupil{
    width: 70px;
    height: 90px;
    border-radius: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: #080808;
    top:0; bottom:0; left:0; right:0;
    margin:auto;
}

#lip{
    font-size: 60px;
    color: white;
    top: 130px;
    left: 45%;
    margin-top: 70px;
    position: absolute;
}
#button{
    width: 100px;
    height: 100px;
    top: 300px;
    left: 36%;
    border-radius: 50%;
    position: absolute;
    background-color: darkred;
    color: white;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
